.timer{
  font-size: 70px;
  display:flex;
  justify-content:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom:50px;
}
.statictimer__digital{
  display:flex;
  justify-content:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}
.statictimer__HMS{
  display:flex;
  justify-content:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.statictimer__HMS__Hour{
  padding-left:0;
  padding-right:10px;
}
.statictimer__HMS__Minute{
  padding-left:10px;
}
.statictimer__HMS__Second{
  padding-left:10px;
}